.bg-brown {
    background-color: #8E450F;
}

/*SLAYT İŞLEMLERİ - BAŞLANGIÇ*/
.carousel {
    margin: 0;
    padding: 0;
}

.carousel-inner {
    overflow: hidden;
}

.carousel-item {
    width: 100%;
}

/*SLAYT İŞLEMLERİ - BİTİŞ*/

/*SAUCECOLOR CSS - BAŞLANGIÇ*/
.bg-saucecolor1 {
    background-color: #B35745;
    transition: background-color 700ms;
    /*Fare çekildikten sonraki animasyon*/
    cursor: pointer;
    /* El işareti */
}

.bg-saucecolor1:hover {
    background-color: #833f32;
    transition: 700ms all;
}

.bg-saucecolor2 {
    background-color: #D87E31;
    transition: background-color 700ms;
    /*Fare çekildikten sonraki animasyon*/
    cursor: pointer;
    /* El işareti */
}

.bg-saucecolor2:hover {
    background-color: #a66328;
    transition: 700ms all;
}

.bg-saucecolor3 {
    background-color: #b5a174;
    transition: background-color 700ms;
    /*Fare çekildikten sonraki animasyon*/
    cursor: pointer;
    /* El işareti */
}

.bg-saucecolor3:hover {
    background-color: #93825d;
    transition: 700ms all;
}

.bg-saucecolor4 {
    background-color: #5E8938;
    transition: background-color 700ms;
    /*Fare çekildikten sonraki animasyon*/
    cursor: pointer;
    /* El işareti */
}

.bg-saucecolor4:hover {
    background-color: #395322;
    transition: 700ms all;
}

/*SAUCECOLOR CSS - BİTİŞ*/

.table-brown {
    background-color: #8E450F;
}

.text-light2 {
    color: white;
    transition: 300ms all;
}

.text-light2:hover {
    color: rgb(179, 178, 178);
}

/*Footer Üstü 4 Bloklu  Alan - Başlangıç*/
.bg-light2 {
    background-color: rgb(255, 254, 254);
    color: black;
    transition: 300ms all;
}

.bg-light2:hover {
    background-color: #212429;
    color: rgb(255, 253, 253);
}

/*Bülten Custom Buton - Başlangıç*/
.btn-special1 {
    width: 75px;
    height: 50px;
    color: white;
    background-color: #8E450F;
    cursor: pointer;
    transition: background-color 300ms;
    border-radius: 15%;
    text-align: center;
}

.btn-special1:hover {
    width: 75px;
    height: 50px;
    color: white;
    background-color: #d78342;
    cursor: pointer;
    transition: 300ms all;
}

/*Bülten Custom Buton - Bitiş*/


/*Yakında Gelecek Ürünler Kısmının Css Kodları - Başlangıç*/
.zoom-area {
    cursor: pointer;
    transition: transform 0.5s ease;
}

.zoom-area:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease;
}

/*Yakında Gelecek Ürünler Kısmının Css Kodları - Bitiş*/